* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 70px;
    position: fixed;
    background-color: black;
    padding: 15px;
    width: 100%;
    top: 0;
    margin: auto;
}

nav a {
    margin: auto;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
    cursor: pointer;
    /* background-color: aqua; */
    transition: background-color .5s ease-in-out;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container h1 {
    color: salmon;
}

.launch-time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-right: 500px;
}

.launch-time {
    flex-basis: 100px;
}

.launch-time div p {
    color: rgb(138, 17, 138);
    margin: 10px;
    font-size: 60px;
    margin-bottom: -14px;
}

.container p {
    margin-bottom: 400px;
}

body {
background-color: #03071c;
height: 100vh;
overflow: hidden;
}

.container h1 {
color: #fff;
position: absolute;
top: 40%;
left: 50%;
font-family: Arial, Helvetica, sans-serif;
transform: translate(-50%, -50%);
z-index: 1;
font-size: 30px;
text-align: center;
}

.box ul li:nth-child(1) {
position: absolute;
width: 35px;
height: 35px;
list-style: none;
opacity: 0;
background: radial-gradient(deepskyblue,transparent,transparent);
bottom: 0;
left: 10vw;
animation: animate 15s linear infinite;
}

.box ul li:nth-child(2) {
position: absolute;
width: 35px;
height: 35px;
list-style: none;
opacity: 0;
background: radial-gradient(darkblue,transparent,transparent);
bottom: 0;
left: 10vw;
animation: animate 15s linear infinite;
}

.box ul li:nth-child(3) {
position: absolute;
width: 35px;
height: 35px;
list-style: none;
opacity: 0;
background: radial-gradient(blue,transparent,transparent);
bottom: 0;
left: 10vw;
animation: animate 15s linear infinite;
}

.box ul li:nth-child(4) {
position: absolute;
width: 35px;
height: 35px;
list-style: none;
opacity: 0;
background: radial-gradient(deepskyblue,transparent,transparent);
bottom: 0;
left: 10vw;
animation: animate 15s linear infinite;
}

.box ul li:nth-child(5) {
position: absolute;
width: 35px;
height: 35px;
list-style: none;
opacity: 0;
background: radial-gradient(deepskyblue,transparent,transparent);
bottom: 0;
left: 10vw;
animation: animate 15s linear infinite;
}

.box ul li:nth-child(6) {
position: absolute;
width: 35px;
height: 35px;
list-style: none;
opacity: 0;
background: radial-gradient(purple,transparent,transparent);
bottom: 0;
left: 10vw;
animation: animate 15s linear infinite;
}

.box ul li:nth-child(7) {
position: absolute;
width: 35px;
height: 35px;
list-style: none;
opacity: 0;
background: radial-gradient(purple,transparent,transparent);
bottom: 0;
left: 10vw;
animation: animate 15s linear infinite;
}

.box ul li:nth-child(8) {
position: absolute;
width: 35px;
height: 35px;
list-style: none;
opacity: 0;
background: radial-gradient(blue,transparent,transparent);
bottom: 0;
left: 10vw;
animation: animate 15s linear infinite;
}

.box ul li:nth-child(9) {
position: absolute;
width: 35px;
height: 35px;
list-style: none;
opacity: 0;
background: radial-gradient(rgb(17, 0, 128),transparent,transparent);
bottom: 0;
left: 10vw;
animation: animate 15s linear infinite;
}

.box ul li:nth-child(10) {
position: absolute;
width: 35px;
height: 35px;
list-style: none;
opacity: 0;
background: radial-gradient(rgb(7, 7, 125),transparent,transparent);
bottom: 0;
left: 10vw;
animation: animate 15s linear infinite;
}

.box ul li:nth-child(11) {
position: absolute;
width: 35px;
height: 35px;
list-style: none;
opacity: 0;
background: radial-gradient(darkblue,transparent,transparent);
bottom: 0;
left: 10vw;
animation: animate 15s linear infinite;
}

.box ul li:nth-child(12) {
position: absolute;
width: 35px;
height: 35px;
list-style: none;
opacity: 0;
background: radial-gradient(rgb(79, 9, 94),transparent,transparent);
bottom: 0;
left: 10vw;
animation: animate 15s linear infinite;
}

.box ul li:nth-child(13) {
position: absolute;
width: 35px;
height: 35px;
list-style: none;
opacity: 0;
background: radial-gradient(rgb(104, 13, 215),transparent,transparent);
bottom: 0;
left: 10vw;
animation: animate 15s linear infinite;
}

.box ul li:nth-child(14) {
position: absolute;
width: 35px;
height: 35px;
list-style: none;
opacity: 0;
background: radial-gradient(rgb(54, 5, 73),transparent,transparent);
bottom: 0;
left: 10vw;
animation: animate 15s linear infinite;
}

.box ul li:nth-child(15) {
position: absolute;
width: 35px;
height: 35px;
list-style: none;
opacity: 0;
background: radial-gradient(rgb(61, 6, 74),transparent,transparent);
bottom: 0;
left: 10vw;
animation: animate 15s linear infinite;
}

.box ul li:nth-child(16) {
position: absolute;
width: 35px;
height: 35px;
list-style: none;
opacity: 0;
background: radial-gradient(rgb(45, 62, 151),transparent,transparent);
bottom: 0;
left: 10vw;
animation: animate 15s linear infinite;
}

.box ul li:nth-child(17) {
position: absolute;
width: 35px;
height: 35px;
list-style: none;
opacity: 0;
background: radial-gradient(rgb(128, 59, 225),transparent,transparent);
bottom: 0;
left: 10vw;
animation: animate 15s linear infinite;
}

.box ul li:nth-child(18) {
position: absolute;
width: 35px;
height: 35px;
list-style: none;
opacity: 0;
background: radial-gradient(rgb(2, 10, 253),transparent,transparent);
bottom: 0;
left: 10vw;
animation: animate 15s linear infinite;
}

.box ul li:nth-child(19) {
position: absolute;
width: 35px;
height: 35px;
list-style: none;
opacity: 0;
background: radial-gradient(rgb(73, 12, 147),transparent,transparent);
bottom: 0;
left: 10vw;
animation: animate 15s linear infinite;

}.box ul li:nth-child(20) {
position: absolute;
width: 35px;
height: 35px;
list-style: none;
opacity: 0;
background: radial-gradient(rgb(114, 17, 156),transparent,transparent);
bottom: 0;
left: 10vw;
animation: animate 15s linear infinite;
}

.box ul li:nth-child(1){
left: 9vw;
animation-delay: 7s;
}

.box ul li:nth-child(2){
left: 16vw;
animation-delay: 2s;
}

.box ul li:nth-child(3){
left: 25vw;
animation-delay: 4s;
}

.box ul li:nth-child(4){
left: 95vw;
animation-delay: 6s;
}

.box ul li:nth-child(5){
left: 75vw;
animation-delay: 4s;
}

.box ul li:nth-child(6){
left: 50vw;
animation-delay: 2s;
}

.box ul li:nth-child(7){
left: 99vw;
animation-delay: 3s;
}

.box ul li:nth-child(8){
left: 69vw;
animation-delay: 13s;
}

.box ul li:nth-child(9){
left: 75vw;
animation-delay: 11s;
}

.box ul li:nth-child(10){
left: 121vw;
animation-delay: 10s;
}

.box ul li:nth-child(11){
left: 58vw;
animation-delay: 10s;
}

.box ul li:nth-child(12){
left: 31vw;
animation-delay: 9s;
}

.box ul li:nth-child(13){
left: 1vw;
animation-delay: 8s;
}

.box ul li:nth-child(14){
left: 63vw;
animation-delay: 7s;
}

.box ul li:nth-child(15){
left: 54vw;
animation-delay: 6s;
}

.box ul li:nth-child(16){
left: 45vw;
animation-delay: 5s;
}

.box ul li:nth-child(17){
left: 99vw;
animation-delay: 4s;
}

.box ul li:nth-child(18){
left: 3vw;
animation-delay: 3s;
}

.box ul li:nth-child(19){
left: 80vw;
animation-delay: 2s;
}

.box ul li:nth-child(20){
left: 108vw;
animation-delay: 1s;
}

@keyframes animate {
0%{
transform: scale(0);
opacity: 1;
bottom: 0;
}

100%{
transform: scale(10);
opacity: 0;
bottom: 100vh;
}
}

span {
    color: whitesmoke;
}

.dark {
    background-color: black;
    color: white;
}

p {
    color: whitesmoke;
}

nav a.darkMode {
    color: whitesmoke;
    float: right;
    /* font-size: 100px; */
}